.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    padding: 20px 45px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
        color: #070A18;
        span {
            filter: brightness(0%);
        }
        &:before {
            background-image: url(../img/btn/back.svg);
        }
    }
    &:before {
        content: '';
        position: absolute;
        background-image: url(../img/btn/border.svg);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: 0.3s ease;
        z-index: -1;
    }
    span {
        display: inline-block;
        background-image: url(../img/steam.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        margin-right: 8px;
        transition: 0.3s ease;
    }
}