//steps-card
.card-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 15px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0px;
        border: 1px solid #1E2339;
        border-radius: 10px;
        right: -44px;
        top: 0;
        transform: rotate(10deg);
    }
    &:last-child {
        &:before {
            content: none;
        }
    }
    &__img {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 58px;
        height: 58px;

    }
    &__title {
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
        margin: 20px 0 10px;
    }
    &__text {
        text-align: center;
        font-size: 18px;
        line-height: 24px;
    }
}