body {
    background-color: #0A0D1D;
    font-family: 'Rouben', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #B7BCDB;
    @media (max-width: 420px) {
        font-size: 15px;
        line-height: 22px;
    }
    &.hidden {
        overflow: hidden;
    }
}

.page__body{
    &_lc {
        padding-left: 300px;
        transition: 0.3s ease;
        &.collapse {
            padding-left: 90px;
        }
        @media (max-width: 420px) {
            padding-left: 0 !important;
        }
    }
}