.user-tabs {
    display: flex;
    border: 1px solid #1E2339;
    border-radius: 14px;
    padding: 6px;
    @media (max-width: 1382px) and (min-width: 421px) {
        margin-bottom: 20px;
        overflow-x: scroll;
    }
    @media (max-width: 420px) {
        width: 100%;
        border: none;
        overflow-x: scroll;
    }
    &__elem {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #B7BCDB;
        border: 2px solid transparent;
        border-radius: 10px;
        padding: 16px 24px;
        transition: 0.3s ease;
        cursor: pointer;
        user-select: none;
        @media (max-width: 1382px) and (min-width: 421px) {
            white-space: nowrap;
        }
        @media (max-width: 420px) {
            padding: 23px 0;
            margin-right: 23px;
            white-space: nowrap;
        }
        &.active {
            border-color: #13CDFF;
            color: #FFFFFF;
            cursor: default;
            @media (max-width: 420px) {
                border-radius: 0;
                border-color: transparent;
                border-bottom: 2px solid #13CDFF;
            }
        }
    }
}