<footer class="footer">
	<div class="wrapper">
		<div class="footer__content">
			<p class="footer__cop">© 2022 csref.net. All rights reserved</p>
			<div class="footer__lang">

				<div class="lang">
  					<a class="lang__selected" data-target="#lang-drop">
						<span class="lang__img" style="background-image: url(img/lang/ru.svg);"></span>RU
					</a>
					<ul id="lang-drop" class="lang__drop">

						<li class="lang__item">
							<a>
								<span class="lang__img" style="background-image: url(img/lang/ru.svg);"></span>EN
							</a>
						</li>

						<li class="lang__item">
							<a>
								<span class="lang__img" style="background-image: url(img/lang/ru.svg);"></span>RU
							</a>
						</li>

					</ul>
				</div>

			</div>
		</div>
	</div>
</footer>
