<header class="header">
	<div class="wrapper">
		<div class="header__content">
			<div class="header__lang">

				<div class="lang">
  					<a class="lang__selected lang__selected_head" data-target="#lang-drop-head">
						<span class="lang__img" style="background-image: url(img/lang/ru.svg);"></span>RU
					</a>
					<ul id="lang-drop-head" class="lang__drop lang__drop_head">

						<li class="lang__item">
							<a>
								<span class="lang__img" style="background-image: url(img/lang/ru.svg);"></span>EN
							</a>
						</li>

						<li class="lang__item">
							<a>
								<span class="lang__img" style="background-image: url(img/lang/ru.svg);"></span>RU
							</a>
						</li>

					</ul>
				</div>

			</div>
		</div>
	</div>
</header>
