<div class="lc-main">
    <div class="wrapper">
        <div class="lc-main__content">
            <!-- level -->
            <div class="level-ban level-ban_silver">
                <div class="level-ban__percent">
                    <p>7</p>
                    <span>%</span>
                </div>
                <div class="level-ban__name">
                    <p>Серебряный уровень</p>
                </div>
            </div>

            <!-- name and id -->
            <div class="lc-main__name">
                <p>zabredun</p>
                <span>ID #854957</span>
            </div>

            <!-- info-user -->
            <div class="info-user">

                <div class="info-user__card">
                    <a class="info-user__img" style="background-image: url(../img/info-user/1.svg);"></a>
                    <p class="info-user__num">4</p>
                    <h4 class="info-user__title">Промокодов</h4>
                </div>

                <div class="info-user__card">
                    <a class="info-user__img" style="background-image: url(../img/info-user/2.svg);"></a>
                    <p class="info-user__num">893</p>
                    <h4 class="info-user__title">Активаций</h4>
                </div>

                <div class="info-user__card">
                    <a class="info-user__img" style="background-image: url(../img/info-user/3.svg);"></a>
                    <p class="info-user__num">8 254 / 15 000 <span></span></p>
                    <h4 class="info-user__title">Пополнено</h4>
                </div>

                <div class="info-user__card">
                    <a class="info-user__img" style="background-image: url(../img/info-user/4.svg);"></a>
                    <p class="info-user__num">1 483 <span></span></p>
                    <h4 class="info-user__title">Доход</h4>
                </div>

            </div>

            <!-- tabs and input -->
            <div class="lc-main__info">

                <div class="user-tabs">
                    <a class="user-tabs__elem active">Промокоды</a>
                    <a class="user-tabs__elem">Запросы на вывод</a>
                    <a class="user-tabs__elem">История операций</a>
                </div>

                <form class="user-input">
                    <input type="text" placeholder="Название промокода">
                    <button>
                        <span></span>
                        Создать
                    </button>
                </form>

                <div class="user-content">
                    <div class="user-content__promocodes">

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>