<div class="up-level">
    <div class="wrapper">
        <div class="up-level__content">
            <h2 class="title">Повышайте уровень – зарабатывайте ещё больше!</h2>
            <p class="up-level__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
            <div class="up-level__btn">
                <a href="" class="btn">
                    <p><span></span> ВОЙТИ ЧЕРЕЗ STEAM</p>
                </a>
            </div>
        </div>
    </div>
</div>